body {
	margin: 0;
	padding: 0;
	background-color: grey;
}

.wrapper {
	margin: 100px auto;
	width: 600px;
	height: 600px;
}

.wrapper div {
	float:left;
	width:200px;
	height:200px;
}
.wrapper div:nth-child(odd){
	background-color: #850000;
}

.wrapper div:nth-child(even) {
	background-color: #ffffff;
}

img {
	display: block;
	margin: 15px auto;
	height: 170px;
}