* {
	margin: 0;
	padding: 0;
	background-color: grey;
}

.wrapper {
	max-width: 1000px;
	min-width: 600px;
	margin: 100px auto;
	width: 600px;
	height: 600px;
}

.wrapper div {
	float: left;
	width: 200px;
	height: 200px;

}
.box1, .box3, .box5, .box7, .box9 {
	background-color: #850000;
}

.box2, .box4, .box6, .box8 {
	background-color: #ffffff;
}

img {
	margin: 15px auto;
	display: block;
	height: 170px;
	background-color: #ffffff;
}